In [29]:
# Import necessary libraries
import numpy as np  # NumPy for numerical operations
import pandas as pd  # Pandas for data manipulation

In [30]:
# Reading the CSV file containing heart data into a DataFrame
df = pd.read_csv("/home/bharat/DSBDA PRACTICALS/DATASETS/AirQuality.csv", sep=";")

# Displaying the first few rows of the DataFrame
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN

In [31]:
#DATA CLEANING

In [32]:
# Removing duplicate rows from the DataFrame
df = df.drop_duplicates()

# Generating descriptive statistics of the DataFrame including count, min, max, etc. for each column
df.describe()

,PT08.S1(CO),NMHC(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),Unnamed: 15,Unnamed: 16
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,0.0,0.0
mean,1048.990061,-159.090093,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,NaN,NaN
std,329.832710,139.789093,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,NaN,NaN
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,NaN,NaN
25%,921.000000,-200.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,NaN,NaN
50%,1053.000000,-200.000000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,NaN,NaN
75%,1221.000000,-200.000000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,NaN,NaN
max,2040.000000,1189.000000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,NaN,NaN

In [33]:
# Displaying information about each column in the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9358 entries, 0 to 9357
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9357 non-null   object
 1   Time           9357 non-null   object
 2   CO(GT)         9357 non-null   object
 3   PT08.S1(CO)    9357 non-null   float64
 4   NMHC(GT)       9357 non-null   float64
 5   C6H6(GT)       9357 non-null   object
 6   PT08.S2(NMHC)  9357 non-null   float64
 7   NOx(GT)        9357 non-null   float64
 8   PT08.S3(NOx)   9357 non-null   float64
 9   NO2(GT)        9357 non-null   float64
 10  PT08.S4(NO2)   9357 non-null   float64
 11  PT08.S5(O3)    9357 non-null   float64
 12  T              9357 non-null   object
 13  RH             9357 non-null   object
 14  AH             9357 non-null   object
 15  Unnamed: 15    0 non-null      float64
 16  Unnamed: 16    0 non-null      float64
dtypes: float64(10), object(7)
memory usage: 1.3+ MB

In [34]:
# Finding the number of null values in each column of the DataFrame
df.isna().sum()

Date                1
Time                1
CO(GT)              1
PT08.S1(CO)         1
NMHC(GT)            1
C6H6(GT)            1
PT08.S2(NMHC)       1
NOx(GT)             1
PT08.S3(NOx)        1
NO2(GT)             1
PT08.S4(NO2)        1
PT08.S5(O3)         1
T                   1
RH                  1
AH                  1
Unnamed: 15      9358
Unnamed: 16      9358
dtype: int64

In [35]:
# Drop columns 'Unnamed: 15' and 'Unnamed: 16' as they have a significant number of null values
df.drop(columns=['Unnamed: 15', 'Unnamed: 16'], inplace=True)

# Drop rows with any null values in the remaining columns
df = df.dropna()

# Print the shape of the cleaned DataFrame to check how many rows and columns remain
print("Shape of cleaned DataFrame:", df.shape)

Shape of cleaned DataFrame: (9357, 15)

In [36]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,04/04/2005,10.00.00,"3,1",1314.0,-200.0,"13,5",1101.0,472.0,539.0,190.0,1374.0,1729.0,"21,9","29,3","0,7568"
9353,04/04/2005,11.00.00,"2,4",1163.0,-200.0,"11,4",1027.0,353.0,604.0,179.0,1264.0,1269.0,"24,3","23,7","0,7119"
9354,04/04/2005,12.00.00,"2,4",1142.0,-200.0,"12,4",1063.0,293.0,603.0,175.0,1241.0,1092.0,"26,9","18,3","0,6406"
9355,04/04/2005,13.00.00,"2,1",1003.0,-200.0,"9,5",961.0,235.0,702.0,156.0,1041.0,770.0,"28,3","13,5","0,5139"
9356,04/04/2005,14.00.00,"2,2",1071.0,-200.0,"11,9",1047.0,265.0,654.0,168.0,1129.0,816.0,"28,5","13,1","0,5028"

In [37]:
# Finding the number of null values in each column of the DataFrame
df.isna().sum()

Date             0
Time             0
CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [38]:
#DATA INTEGRATION

In [39]:
# Displaying the first few rows of the DataFrame after data integration
df_head = df.head()

In [40]:
# Creating subset 1 containing selected columns
subSet1 = df_head[['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)']]

# Creating subset 2 containing selected columns
subSet2 = df_head[['NMHC(GT)', 'C6H6(GT)', 'PT08.S2(NMHC)', 'NOx(GT)']]

# Merging subset 1 and subset 2 to form a new DataFrame using cross join
merged_df = subSet1.merge(right=subSet2, how='cross')

# Displaying the first few rows of the merged DataFrame
merged_df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT)
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0
1,10/03/2004,18.00.00,"2,6",1360.0,112.0,"9,4",955.0,103.0
2,10/03/2004,18.00.00,"2,6",1360.0,88.0,"9,0",939.0,131.0
3,10/03/2004,18.00.00,"2,6",1360.0,80.0,"9,2",948.0,172.0
4,10/03/2004,18.00.00,"2,6",1360.0,51.0,"6,5",836.0,131.0

In [41]:
#DATA TRANSFORMATION

In [42]:
# Replace commas with periods in DataFrame 'df'
df.replace(",", ".", regex=True, inplace=True)

In [43]:
# Drop columns named "Date" and "Time" from DataFrame 'df'
# axis=1 specifies that columns should be dropped, not rows
# inplace=True modifies the DataFrame 'df' in place rather than returning a new DataFrame
df.drop(["Date", "Time"], axis=1, inplace=True)

In [44]:
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [45]:
# Display the data types of each column in the DataFrame 'df'
print(df.dtypes)

CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
dtype: object

In [46]:
# Convert DataFrame 'df' to have data type float64 for all columns
df = df.astype("float64")
print(df.dtypes)

CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
dtype: object

In [47]:
#ERROR CORRECTING

In [48]:
# This line selects rows in the DataFrame where the value in the 'CO(GT)' column is equal to 4,
# and replaces those values with NaN (Not a Number), effectively removing them from the DataFrame.
df.loc[df['NMHC(GT)'] == 150.0, 'NMHC(GT)'] = np.NaN

In [49]:
df.isna().sum()

CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         5
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [50]:
# This line fills missing values (NaN) in the DataFrame `df` with the median value of each column.
df = df.fillna(df.median())

In [51]:
# This line checks for missing values (NaN) in each column of the DataFrame `df` 
# using the `isna()` function, and then calculates the sum of missing values 
# for each column using the `sum()` function.
df.isna().sum()

CO(GT)           0
PT08.S1(CO)      0
NMHC(GT)         0
C6H6(GT)         0
PT08.S2(NMHC)    0
NOx(GT)          0
PT08.S3(NOx)     0
NO2(GT)          0
PT08.S4(NO2)     0
PT08.S5(O3)      0
T                0
RH               0
AH               0
dtype: int64

In [52]:
#MODEL BUILDING

In [59]:
# Displaying the first few rows of the DataFrame `df` for inspection.
df.head()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360.0,-200.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [65]:
# Importing the LinearRegression class from sklearn.linear_model module
from sklearn.linear_model import LinearRegression

# Extracting the values of the 'CO(GT)' column and assigning them to the variable X
X = df['CO(GT)'].values

# Reshaping the array X to have a single feature (column) and an unspecified number of rows
X = X.reshape(-1, 1)

In [66]:
# Assuming df is a pandas DataFrame and 'NMHC(GT)' is a column in the DataFrame

# Extracting the values of the 'NMHC(GT)' column and assigning them to the variable Y
Y = df['NMHC(GT)']

In [67]:
# Creating an instance of the LinearRegression class
model = LinearRegression()

In [68]:
# Fitting the linear regression model to the data
model.fit(X, Y)

LinearRegression()

In [69]:
# Calculating the coefficient of determination (R^2 score) of the fitted model on the training data
score = model.score(X, Y) * 100

# Predicting the target variable for a new input, in this case, the input is [[1]]
prediction = model.predict([[1]])

In [70]:
score

1.6354602435976306

In [71]:
prediction

array([-151.18264393])